<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title> Town Crier বাংলা </title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,400,400italic,700,900%7COswald:300,400,700%7CGentium+Basic:400,400italic&amp;subset=latin,latin,latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/extras.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/theme.min.css">
    <link rel="stylesheet" href="assets/css/magazine.min.css">
    <link rel="stylesheet" href="assets/css/towncrier.css">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="assets/images/favicons/favicon.ico"> </head>

<body class="pace-on pace-minimal">
    <div class="pace-overlay"></div>
    <div id="masthead" class="menu navbar navbar-static-top navbar-sticky oxy-mega-menu header-logo-left-menu-right" role="banner">
        <div class="container">
            <!-- setting a logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../" class="navbar-brand">
                    <img src="/assets/images/magazine/logo-inv-200px.png" alt="One of the best themes ever">
                </a>
            </div>
            <div class="nav-container">
                <!-- setting a logo end-->
                <nav class="collapse navbar-collapse logo-navbar  main-navbar navbar-left" role="navigation">
                    <div class="menu-container">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                            </li>
                            <li class=" "> <a href="/news.html">News</a> </li>
                            <li class=" "> <a href="/stories.html">Stories</a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div id="content" role="main">
        <article>
            <section class="section">
                <div class="container">
                    <div class="row element-top-50 element-bottom-50">
                        <div class="col-md-9 blog-list-layout-normal">
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle vertical-middle">
                                        <a class="figure-image magnific" href="assets/images/magazine/ewaste.gif"> <img alt="ই-বর্" src="assets/images/magazine/ewaste.gif">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
                                                    <i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h1 class="bengali-header-text bigtext black"><span>পশ্চিম বঙ্গের ই-বর্জ্য হাব তৈরী করতে জমির অভাবে বিলম্ব</span></h1>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> April 24, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">Srinath</a>
                                </span> <span class="post-category">
                                    <i class="icon-clipboard"></i> <a href="news.html" rel="tag" class="bengali-text">বাংলা</a>
                                </span> </div>
                                </header>
                                <div class="post-body bengali-text">
                                    <p>রাজ্যের বৈদ্যুতিক বর্জ্য পরিশোধন প্রকল্প আটকে রয়েছে দুই থেকে তিন একরের জমির অভাব &#2551; সেই জন্যই বর্জ্য হাব তৈরী হয়নি &#2551; এতে পশ্চিম বঙ্গের কেন্দ্রীয় বরাদ্দ অনুদানও হাতছাড়া হয়েছে &#2551; ২০০৯ সালে পশ্চিম বঙ্গের বৈদ্যুতিক বর্জ্য ২৬,০০০ ট্ন ছিল &#2551; ২০২০ সালে সেটা বেড়ে ১৫০০০০ টন হওয়ার সম্ভাবনা আছে &#2551; ই-বর্জ্য সম্বন্ধে কেন্দ্রীয় সরকারের নির্ধারিত নিয়ম মে ২০১২ থেকে লাগু হয়েছে &#2551;</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="small-screen-center post-extras">
                                            <div class="post-tags"> <a href="#" rel="tag">miscellaneous</a> <a href="#" rel="tag">e-waste</a> <a href="#" rel="tag">বিবিধ</a> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-right small-screen-center post-share">
                                            <div class="element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                                <ul class="social-icons text-normal social-sm social-simple social-circle">
                                                    <li>
                                                        <a href="http://twitter.com/share?text=Recycling%20hub%20in%20WB%20delayed%20&url=bit.ly/wb-eborjyo" target="_blank" data-iconcolor="#00acee"> <i class="fa fa-twitter"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="http://www.facebook.com/sharer.php?u=bit.ly/wb-eborjyo" target="_blank" data-iconcolor="#3b5998"> <i class="fa fa-facebook"></i> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3 sidebar">
                            <div class="sidebar-widget widget_recent_entries" id="recent-posts-4">
                                <h3 class="sidebar-header">most popular</h3>
                                <ul>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-story-kabuliwalla.html" title="রবীন্দ্রনাথ ঠাকুরের &#8217; কাবুলিওয়ালা &#8217;"> <img alt="Kabuliwalla" height="150" src="http://i.ytimg.com/vi/JUbA78hOZOE/maxresdefault.jpg" width="150"> </a>
                                        </div> <a href="magazine-story-kabuliwalla.html" title="রবীন্দ্রনাথ ঠাকুরের &#8217; কাবুলিওয়ালা &#8217;" class="bengali-text bengali-sidebar">গল্প - রবীন্দ্রনাথ ঠাকুরের কাবুলিওয়ালা</a> <small class="post-date">May 1, 2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post-wb-nirbaachon-bijoyi.html" title="পুরসভা নির্বাচনে তৃনমূল বিজয়ী"> <img alt="তৃনমূল বিজয়ী" height="150" src="http://images.indiatvnews.com/politicsnational/IndiaTve12d8e_mamata-banerjee-final.jpg" width="150"> </a>
                                        </div> <a href="magazine-post-wb-nirbaachon-bijoyi.html" title="পুরসভা নির্বাচনে তৃনমূল বিজয়ী" class="bengali-text bengali-sidebar">পুরসভা নির্বাচনে ১৪১ কেন্দ্রের মধ্যে ১১৪ কেন্দ্রে তৃনমূল বিজয়ী</a> <small class="post-date">May 1, 2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post-wb-bandh-1.html" title="বাংলা বন্ধ ৩০শে এপ্রিল"> <img alt="বাংলা বন্ধ ৩০শে এপ্রিল" height="150" src="https://gobindaroy.files.wordpress.com/2010/09/13feb-bandh-01.jpg" width="150"> </a>
                                        </div> <a href="magazine-post-wb-bandh-1.html" title="বাংলা বন্ধ ৩০শে এপ্রিল" class="bengali-text bengali-sidebar">বাংলা বন্ধ ৩০শে এপ্রিল</a> <small class="post-date">May 1, 2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post-nirbaachon-shonghorsho.html" title="আরও নির্বাচন কেন্দ্রিক সংঘর্ষ"> <img alt="সংঘর্ষ" height="150" src="assets/images/magazine/kolkatapolice.jpg" width="150"> </a>
                                        </div> <a href="magazine-post-nirbaachon-shonghorsho.html" title="আরও নির্বাচন কেন্দ্রিক সংঘর্ষ" class="bengali-text bengali-sidebar">আরও নির্বাচন কেন্দ্রিক সংঘর্ষ</a> <small class="post-date">April 24, 2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post-ankit-keshri-2.html" title="ক্রিকেটারদের জন্য বিমা পরিকল্পনা হবে, অঙ্কিত কেশরীর মৃত্যুর উদাহরণের পরযু"> <img alt="অঙ্কিত কেশরী" src="../assets/images/magazine/sourav-ankitkeshri.png" width="150"> </a>
                                        </div> <a href="magazine-post-ankit-keshri-2.html" title="ক্রিকেটারদের জন্য বিমা পরিকল্পনা হবে, অঙ্কিত কেশরীর মৃত্যুর উদাহরণের পরযু" class="bengali-text bengali-sidebar">ক্রিকেটারদের জন্য বিমা পরিকল্পনা হবে, অঙ্কিত কেশরীর মৃত্যুর উদাহরণের পর</a> <small class="post-date">May 1, 2015</small> </li>
                                </ul>
                            </div>
                            <div class="sidebar-widget widget_recent_entries" id="madmimi-signup-form">
                                <form accept-charset="UTF-8" action="https://madmimi.com/signups/subscribe/142033" id="mad_mimi_signup_form" method="post" target="_blank">
                                    <div style="margin:0;padding:0;display:inline">
                                        <input name="utf8" type="hidden" value="✓" />
                                    </div>
                                    <div class="mimi_field required element-bottom-10">
                                        <label for="signup_email">
                                            <h3 class="sidebar-header">Subscribe</h3>
                                        </label>
                                        <br />
                                        <p class="element-bottom-10">Get a weekly newsletter in your inbox!</p>
                                        <input id="signup_email" name="signup[email]" type="text" data-required-field="This field is required" placeholder="you@example.com" />
                                    </div>
                                    <div class="mimi_field">
                                        <input type="submit" class="submit" value="Subscribe to TownCrier বাংলা" id="webform_submit_button" data-default-text="Subscribe to TownCrier বাংলা" data-submitting-text="Sending..." data-invalid-text="↑ You forgot some required fields" data-choose-list="↑ Choose a list" data-thanks="Thank you!">
                                        </input>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <footer id="footer">
            <section class="section">
                <div class="container">
                    <div class="row element-top-40 element-bottom-40 footer-columns-3">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div class="sidebar-widget widget_text">
                                <h3 class="sidebar-header text-center small-screen-center"> Town Crier বাংলা </h3>
                                <div class="textwidget text-center small-screen-center"> Launched in early 2015, <strong>Town Crier বাংলা</strong> is a forum for Bengalis to enjoy and celebrate language, literature, and culture. </div>
                            </div>
                            <div class="sidebar-widget widget_social text-center small-screen-center" id="oxywidgetsocial-1">
                                <ul class="unstyled inline social-icons social-simple social-normal">
                                    <li>
                                        <a data-iconcolor="#00acee" href="https://twitter.com/gettowncrier"> <i class="fa fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#3b5998" href="https://www.facebook.com/gettowncrier"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#634d40" href="#"> <i class="fa fa-instagram"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#3b9999" href="https://soundcloud.com/gettowncrier"> <i class="fa fa-soundcloud"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    <a class="go-top go-top-square" href="javascript:void(0)"> <i class="fa fa-angle-up"></i> </a>
    <script type="text/javascript">
        var oxyThemeData = {
            navbarHeight: 120,
            navbarScrolled: 120,
            navbarScrolledPoint: 62,
            menuClose: 'off',
            scrollFinishedMessage: 'No more items to load.',
            hoverMenu: {
                hoverActive: false,
                hoverDelay: 200,
                hoverFadeDelay: 200
            },
            siteLoader: 'on'
        };
    </script>
    <script src="assets/js/theme.min.js"></script>
    <!-- load contact form js -->
    <script src="assets/js/contact.min.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-62534500-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        (function (global) {
            function serialize(form) {
                if (!form || form.nodeName !== "FORM") {
                    return
                }
                var i, j, q = [];
                for (i = form.elements.length - 1; i >= 0; i = i - 1) {
                    if (form.elements[i].name === "") {
                        continue
                    }
                    switch (form.elements[i].nodeName) {
                    case "INPUT":
                        switch (form.elements[i].type) {
                        case "text":
                        case "hidden":
                        case "password":
                        case "button":
                        case "reset":
                        case "submit":
                            q.push(form.elements[i].name + "=" + encodeURIComponent(form.elements[i].value));
                            break;
                        case "checkbox":
                        case "radio":
                            if (form.elements[i].checked) {
                                q.push(form.elements[i].name + "=" + encodeURIComponent(form.elements[i].value))
                            }
                            break;
                        case "file":
                            break
                        }
                        break;
                    case "TEXTAREA":
                        q.push(form.elements[i].name + "=" + encodeURIComponent(form.elements[i].value));
                        break;
                    case "SELECT":
                        switch (form.elements[i].type) {
                        case "select-one":
                            q.push(form.elements[i].name + "=" + encodeURIComponent(form.elements[i].value));
                            break;
                        case "select-multiple":
                            for (j = form.elements[i].options.length - 1; j >= 0; j = j - 1) {
                                if (form.elements[i].options[j].selected) {
                                    q.push(form.elements[i].name + "=" + encodeURIComponent(form.elements[i].options[j].value))
                                }
                            }
                            break
                        }
                        break;
                    case "BUTTON":
                        switch (form.elements[i].type) {
                        case "reset":
                        case "submit":
                        case "button":
                            q.push(form.elements[i].name + "=" + encodeURIComponent(form.elements[i].value));
                            break
                        }
                        break
                    }
                }
                return q.join("&")
            };


            function extend(destination, source) {
                for (var prop in source) {
                    destination[prop] = source[prop];
                }
            }

            if (!Mimi) var Mimi = {};
            if (!Mimi.Signups) Mimi.Signups = {};

            Mimi.Signups.EmbedValidation = function () {
                this.initialize();

                var _this = this;
                if (document.addEventListener) {
                    this.form.addEventListener('submit', function (e) {
                        _this.onFormSubmit(e);
                    });
                } else {
                    this.form.attachEvent('onsubmit', function (e) {
                        _this.onFormSubmit(e);
                    });
                }
            };

            extend(Mimi.Signups.EmbedValidation.prototype, {
                initialize: function () {
                    this.form = document.getElementById('mad_mimi_signup_form');
                    this.submit = document.getElementById('webform_submit_button');
                    this.callbackName = 'jsonp_callback_' + Math.round(100000 * Math.random());
                    this.validEmail = /.+@.+\..+/
                },

                onFormSubmit: function (e) {
                    e.preventDefault();

                    this.validate();
                    if (this.isValid) {
                        this.submitForm();
                    } else {
                        this.revalidateOnChange();
                    }
                },

                validate: function () {
                    this.isValid = true;
                    this.emailValidation();
                    this.fieldAndListValidation();
                    this.updateFormAfterValidation();
                },

                emailValidation: function () {
                    var email = document.getElementById('signup_email');

                    if (this.validEmail.test(email.value)) {
                        this.removeTextFieldError(email);
                    } else {
                        this.textFieldError(email);
                        this.isValid = false;
                    }
                },

                fieldAndListValidation: function () {
                    var fields = this.form.querySelectorAll('.mimi_field.required');

                    for (var i = 0; i < fields.length; ++i) {
                        var field = fields[i],
                            type = this.fieldType(field);
                        if (type === 'checkboxes' || type === 'radio_buttons') {
                            this.checkboxAndRadioValidation(field);
                        } else {
                            this.textAndDropdownValidation(field, type);
                        }
                    }
                },

                fieldType: function (field) {
                    var type = field.querySelectorAll('.field_type');

                    if (type.length) {
                        return type[0].getAttribute('data-field-type');
                    } else if (field.className.indexOf('checkgroup') >= 0) {
                        return 'checkboxes';
                    } else {
                        return 'text_field';
                    }
                },

                checkboxAndRadioValidation: function (field) {
                    var inputs = field.getElementsByTagName('input'),
                        selected = false;

                    for (var i = 0; i < inputs.length; ++i) {
                        var input = inputs[i];
                        if ((input.type === 'checkbox' || input.type === 'radio') && input.checked) {
                            selected = true;
                        }
                    }

                    if (selected) {
                        field.className = field.className.replace(/ invalid/g, '');
                    } else {
                        if (field.className.indexOf('invalid') === -1) {
                            field.className += ' invalid';
                        }

                        this.isValid = false;
                    }
                },

                textAndDropdownValidation: function (field, type) {
                    var inputs = field.getElementsByTagName('input');

                    for (var i = 0; i < inputs.length; ++i) {
                        var input = inputs[i];
                        if (input.name.indexOf('signup') >= 0) {
                            if (type === 'text_field') {
                                this.textValidation(input);
                            } else {
                                this.dropdownValidation(field, input);
                            }
                        }
                    }
                    this.htmlEmbedDropdownValidation(field);
                },

                textValidation: function (input) {
                    if (input.id === 'signup_email') return;

                    if (input.value) {
                        this.removeTextFieldError(input);
                    } else {
                        this.textFieldError(input);
                        this.isValid = false;
                    }
                },

                dropdownValidation: function (field, input) {
                    if (input.value) {
                        field.className = field.className.replace(/ invalid/g, '');
                    } else {
                        if (field.className.indexOf('invalid') === -1) field.className += ' invalid';
                        this.onSelectCallback(input);
                        this.isValid = false;
                    }
                },

                htmlEmbedDropdownValidation: function (field) {
                    var dropdowns = field.querySelectorAll('.mimi_html_dropdown');
                    var _this = this;

                    for (var i = 0; i < dropdowns.length; ++i) {
                        var dropdown = dropdowns[i];

                        if (dropdown.value) {
                            field.className = field.className.replace(/ invalid/g, '');
                        } else {
                            if (field.className.indexOf('invalid') === -1) field.className += ' invalid';
                            this.isValid = false;
                            dropdown.onchange = (function () {
                                _this.validate();
                            });
                        }
                    }
                },

                textFieldError: function (input) {
                    input.className = 'required invalid';
                    input.placeholder = input.getAttribute('data-required-field');
                },

                removeTextFieldError: function (input) {
                    input.className = 'required';
                    input.placeholder = '';
                },

                onSelectCallback: function (input) {
                    if (typeof Widget === 'undefined' || !Widget.BasicDropdown) return;

                    var dropdownEl = input.parentNode,
                        instances = Widget.BasicDropdown.instances,
                        _this = this;

                    for (var i = 0; i < instances.length; ++i) {
                        var instance = instances[i];
                        if (instance.wrapperEl === dropdownEl) {
                            instance.onSelect = function () {
                                _this.validate()
                            };
                        }
                    }
                },

                updateFormAfterValidation: function () {
                    this.form.className = this.setFormClassName();
                    this.submit.value = this.submitButtonText();
                    this.submit.disabled = !this.isValid;
                    this.submit.className = this.isValid ? 'submit' : 'disabled';
                },

                setFormClassName: function () {
                    var name = this.form.className;

                    if (this.isValid) {
                        return name.replace(/\s?mimi_invalid/, '');
                    } else {
                        if (name.indexOf('mimi_invalid') === -1) {
                            return name += ' mimi_invalid';
                        } else {
                            return name;
                        }
                    }
                },

                submitButtonText: function () {
                    var invalidFields = document.querySelectorAll('.invalid'),
                        text;

                    if (this.isValid || !invalidFields) {
                        text = this.submit.getAttribute('data-default-text');
                    } else {
                        if (invalidFields.length || invalidFields[0].className.indexOf('checkgroup') === -1) {
                            text = this.submit.getAttribute('data-invalid-text');
                        } else {
                            text = this.submit.getAttribute('data-choose-list');
                        }
                    }
                    return text;
                },

                submitForm: function () {
                    this.formSubmitting();

                    var _this = this;
                    window[this.callbackName] = function (response) {
                        delete window[this.callbackName];
                        document.body.removeChild(script);
                        _this.onSubmitCallback(response);
                    };

                    var script = document.createElement('script');
                    script.src = this.formUrl('json');
                    document.body.appendChild(script);
                },

                formUrl: function (format) {
                    var action = this.form.action;
                    if (format === 'json') action += '.json';
                    return action + '?callback=' + this.callbackName + '&' + serialize(this.form);
                },

                formSubmitting: function () {
                    this.form.className += ' mimi_submitting';
                    this.submit.value = this.submit.getAttribute('data-submitting-text');
                    this.submit.disabled = true;
                    this.submit.className = 'disabled';
                },

                onSubmitCallback: function (response) {
                    if (response.success) {
                        this.onSubmitSuccess(response.result);
                    } else {
                        top.location.href = this.formUrl('html');
                    }
                },

                onSubmitSuccess: function (result) {
                    if (result.has_redirect) {
                        top.location.href = result.redirect;
                    } else if (result.single_opt_in || !result.confirmation_html) {
                        this.disableForm();
                        this.updateSubmitButtonText(this.submit.getAttribute('data-thanks'));
                    } else {
                        this.showConfirmationText(result.confirmation_html);
                    }
                },

                showConfirmationText: function (html) {
                    var fields = this.form.querySelectorAll('.mimi_field');

                    for (var i = 0; i < fields.length; ++i) {
                        fields[i].style['display'] = 'none';
                    }

                    (this.form.querySelectorAll('fieldset')[0] || this.form).innerHTML = html;
                },

                disableForm: function () {
                    var elements = this.form.elements;
                    for (var i = 0; i < elements.length; ++i) {
                        elements[i].disabled = true;
                    }
                },

                updateSubmitButtonText: function (text) {
                    this.submit.value = text;
                },

                revalidateOnChange: function () {
                    var fields = this.form.querySelectorAll(".mimi_field.required"),
                        _this = this;

                    for (var i = 0; i < fields.length; ++i) {
                        var inputs = fields[i].getElementsByTagName('input');
                        for (var j = 0; j < inputs.length; ++j) {
                            if (this.fieldType(fields[i]) === 'text_field') {
                                inputs[j].onkeyup = function () {
                                    var input = this;
                                    if (input.getAttribute('name') === 'signup[email]') {
                                        if (_this.validEmail.test(input.value)) _this.validate();
                                    } else {
                                        if (input.value.length === 1) _this.validate();
                                    }
                                }
                            } else {
                                inputs[j].onchange = function () {
                                    _this.validate()
                                };
                            }
                        }
                    }
                }
            });

            if (document.addEventListener) {
                document.addEventListener("DOMContentLoaded", function () {
                    new Mimi.Signups.EmbedValidation();
                });
            } else {
                window.attachEvent('onload', function () {
                    new Mimi.Signups.EmbedValidation();
                });
            }
        })(this);
    </script>
</body>

</html>