<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title> Feel-Good Food | Magazine</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,400,400italic,700,900%7COswald:300,400,700%7CGentium+Basic:400,400italic&amp;subset=latin,latin,latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/extras.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/theme.min.css">
    <link rel="stylesheet" href="assets/css/magazine.min.css">
    <link rel="stylesheet" href="assets/css/towncrier.css">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="assets/images/favicons/favicon.ico"> </head>

<body class="pace-on pace-minimal">
    <div class="pace-overlay"></div>
    <div id="masthead" class="menu navbar navbar-static-top navbar-sticky oxy-mega-menu header-logo-left-menu-right" role="banner">
        <div class="container">
            <!-- setting a logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../" class="navbar-brand">
                    <img src="/assets/images/magazine/logo-inv-200px.png" alt="One of the best themes ever">
                </a>
            </div>
            <div class="nav-container">
                <!-- setting a logo end-->
                <nav class="collapse navbar-collapse logo-navbar  main-navbar navbar-left" role="navigation">
                    <div class="menu-container">
                        <ul class="nav navbar-nav navbar-right">
                            <li class=" "> <a href="/" class="dropdown-toggle" data-toggle="dropdown">Home</a> </li>
                            <li class=" "> <a href="/news.html">News</a> </li>
                            <li class=" "> <a href="/stories.html">Stories</a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div id="content" role="main">
        <article>
            <section class="section">
                <div class="container">
                    <div class="row element-top-50 element-bottom-50">
                        <div class="col-md-9 blog-list-layout-normal">
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle">
                                        <a class="figure-image magnific" href="assets/images/magazine/drone.jpg"> <img alt="Feel-Good Food" src="assets/images/magazine/drone.jpg">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
                                                    <i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h1 class="post-title bengali-header-text">দ্রোন ব্যবহার করেছেন পশ্চিম বঙ্গ রাজ্য নির্বাচন কমিশন</h1>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> April 24, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="magazine-blog.html">Srinath</a>
                                </span> <span class="post-category">
                                    <i class="icon-clipboard"></i> <a href="magazine-blog.html" rel="tag" class="bengali-text">বাংলা</a>
                                </span> </div>
                                </header>
                                <div class="post-body bengali-text">
                                    <p>
                                        আমার পাঁচ বছর বয়সের ছোটো মেয়ে মিনি এক দণ্ড কথা না কহিয়া থাকিতে পারে না। পৃথিবীতে জন্মগ্রহণ করিয়া ভাষা শিক্ষা করিতে সে কেবল একটি বৎসর কাল ব্যয় করিয়াছিল, তাহার পর হইতে যতক্ষণ সে জাগিয়া থাকে এক মুহূর্ত মৌনভাবে নষ্ট করে না। তাহার মা অনেকসময় ধমক দিয়া তাহার মুখ বন্ধ করিয়া দেয়, কিন্তু আমি তাহা পারি না। মিনি চুপ করিয়া থাকিলে এমনি অস্বাভাবিক দেখিতে হয় যে, সে আমার বেশিক্ষণ সহ্য হয় না। এইজন্য আমার সঙ্গে তাহার কথোপকথনটা কিছু উৎসাহের সহিত চলে।
                                    </p>
                                    <p>
                                        সকালবেলায় আমার নভেলের সপ্তদশ পরিচ্ছেদে হাত দিয়াছি এমনসময় মিনি আসিয়াই আরম্ভ করিয়া দিল, 'বাবা, রামদয়াল দরোয়ান কাককে কৌয়া বলছিল, সে কিচ্ছু জানে না। না?'
                                    </p>
                                    <p>
                                        আমি পৃথিবীতে ভাষার বিভিন্নতা সম্বন্ধে তাহাকে জ্ঞানদান করিতে প্রবৃত্ত হইবার পূর্বেই সে দ্বিতীয় প্রসঙ্গে উপনীত হইল। 'দেখো বাবা, ভোলা বলছিল আকাশে হাতি শুঁড় দিয়ে জল ফেলে, তাই বৃষ্টি হয়। মাগো, ভোলা এত মিছিমিছি বকতে পারে! কেবলই বকে, দিনরাত বকে।'
                                    </p>
                                    <p>
                                        এ সম্বন্ধে আমার মতামতের জন্য কিছুমাত্র অপেক্ষা না করিয়া হঠাৎ জিজ্ঞাসা করিয়া বসিল, 'বাবা, মা তোমার কে হয়।'
                                    </p>
                                    <p>
                                        মনে মনে কহিলাম শ্যালিকা; মুখে কহিলাম, 'মিনি, তুই ভোলার সঙ্গে খেলা কর্‌গে যা। আমার এখন কাজ আছে।'
                                    </p>
                                    <p>
                                        সে তখন আমার লিখিবার টেবিলের পার্শ্বে আমার পায়ের কাছে বসিয়া নিজের দুই হাঁটু এবং হাত লইয়া অতিদ্রুত উচ্চারণে 'আগ্‌ডুম-বাগ্‌ডুম' খেলিতে আরম্ভ করিয়া দিল। আমার সপ্তদশ পরিচ্ছেদে প্রতাপসিংহ তখন কাঞ্চনমালাকে হইয়া অন্ধকার রাত্রে কারাগারের উচ্চ বাতায়ন হইতে নিম্নবর্তী নদীর জলে ঝাঁপ দিয়া পড়িতেছেন।
                                    </p>
                                    <p>
                                        আমার ঘর পথের ধারে। হঠাৎ মিনি আগ্‌ডুম-বাগ্‌ডুম খেলা রাখিয়া জানালার ধারে ছুটিয়া গেল এবং চীৎকার করিয়া ডাকিতে লাগিল, 'কাবুলিওয়ালা, ও কাবুলিওয়ালা।'
                                    </p>
                                    <p>
                                        ময়লা ঢিলা কাপড় পরা, পাগড়ি মাথায়, ঝুলি ঘাড়ে, হাতে গোটাদুই-চার আঙুরের বাক্স, এক লম্বা কাবুলিওয়ালা মৃদুমন্দ গমনে পথ দিয়া যাইতেছিল-- তাহাকে দেখিয়া আমার কন্যারত্নের কিরূপ ভাবোদয় হইল বলা শক্ত, তাহাকে ঊর্ধ্বশ্বাসে ডাকাডাকি আরম্ভ করিয়া দিল। আমি ভাবিলাম, এখনই ঝুলিঘাড়ে একটা আপদ আসিয়া উপস্থিত হইবে, আমার সপ্তদশ পরিচ্ছেদ আর শেষ হইবে না।
                                    </p>
                                    <p>
                                        কিন্তু মিনির চীৎকারে যেমনি কাবুলিওয়ালা হাসিয়া মুখ ফিরাইল এবং আমাদের বাড়ির দিকে আসিতে লাগিল, অমনি সে ঊর্ধ্বশ্বাসে অন্তঃপুরে দৌড় দিল, তাহার আর চিহ্ন দেখিতে পাওয়া গেল না। তাহার মনের মধ্যে একটা অন্ধ বিশ্বাসের মতো ছিল যে, ঐ ঝুলিটার ভিতর সন্ধান করিলে তাহার মতো দুটো-চারটে জীবিত মানব-সন্তান পাওয়া যাইতে পারে।
                                    </p>
                                    <p>
                                        এদিকে কাবুলিওয়ালা আসিয়া সহাস্যে আমাকে সেলাম করিয়া দাঁড়াইল-- আমি ভাবিলাম, যদিচ প্রতাপসিংহ এবং কাঞ্চনমালার অবস্থা অত্যন্ত সংকটাপন্ন, তথাপি লোকটাকে ঘরে ডাকিয়া আনিয়া তাহার কাছ হইতে কিছু না কেনাটা ভালো হয় না।
                                    </p>
                                    <p>
                                        কিছু কেনা গেল। তাহার পর পাঁচটা কথা আসিয়া পড়িল। আবদর রহমান, রুস, ইংরেজ প্রভৃতিকে লইয়া সীমান্তরক্ষানীতি সম্বন্ধে গল্প চলিতে লাগিল।
                                    </p>
                                    <p>
                                        অবশেষে উঠিয়া যাইবার সময় সে জিজ্ঞাসা করিল, 'বাবু, তোমার লড়কী কোথায় গেল।'
                                    </p>
                                    <p>
                                        আমি মিনির অমূলক ভয় ভাঙাইয়া দিবার অভিপ্রায়ে তাহাকে অন্তঃপুর হইতে ডাকাইয়া আনিলাম-- সে আমার গা ঘেঁষিয়া কাবুলির মুখ এবং ঝুলির দিকে সন্দিগ্ধ নেত্রক্ষেপ করিয়া দাঁড়াইয়া রহিল। কাবুলি ঝুলির মধ্য হইতে কিসমিস খোবানি বাহির করিয়া তাহাকে দিতে গেল, সে কিছুতেই লইল না, দ্বিগুণ সন্দেহের সহিত আমার হাঁটুর কাছে সংলগ্ন হইয়া রহিল। প্রথম পরিচয়টা এমনি ভাবে গেল।
                                    </p>
                                    <p>
                                        কিছুদিন পরে একদিন সকালবেলায় আবশ্যকবশত বাড়ি হইতে বাহির হইবার সময় দেখি, আমার দুহিতাটি দ্বারের সমীপস্থ বেঞ্চির উপর বসিয়া অনর্গল কথা কহিয়া যাইতেছে এবং কাবুলিওয়ালা তাহার পদতলে বসিয়া সহাস্যমুখে শুনিতেছে এবং মধ্যে মধ্যে প্রসঙ্গক্রমে নিজের মতামতও দো আঁসলা বাংলায় ব্যক্ত করিতেছে। মিনির পঞ্চবর্ষীয় জীবনের অভিজ্ঞতায় বাবা ছাড়া এমন ধৈর্যবান শ্রোতা সে কখনো পায় নাই। আবার দেখি, তাহার ক্ষুদ্র আঁচল বাদাম-কিসমিসে পরিপূর্ণ। আমি কাবুলিওয়ালাকে কহিলাম, 'উহাকে এ-সব কেন দিয়াছ। অমন আর দিয়ো না।' বলিয়া পকেট হইতে একটা আধুলি লইয়া তাহাকে দিলাম। সে অসংকোচে আধুলি গ্রহণ করিয়া ঝুলিতে পুরিল।
                                    </p>
                                    <p>
                                        বাড়িতে ফিরিয়া আসিয়া দেখি, সেই আধুলিটি লইয়া ষোলো-আনা গোলযোগ বাধিয়া গেছে।
                                    </p>
                                    <p>
                                        মিনির মা একটা শ্বেত চকচকে গোলাকার পদার্থ লইয়া ভর্ৎসনার স্বরে মিনিকে জিজ্ঞাসা করিতেছেন, 'তুই এ আধুলি কোথায় পেলি।'
                                    </p>
                                    <p>
                                        মিনি বলিতেছে, 'কাবুলিওয়ালা দিয়েছে।'
                                    </p>
                                    <p>
                                        তাহার মা বলিতেছেন, 'কাবুলিওয়ালার কাছ হইতে আধুলি তুই কেন নিতে গেলি।'
                                    </p>
                                    <p>
                                        মিনি ক্রন্দনের উপক্রম করিয়া কহিল, 'আমি চাই নি, সে আপনি দিলে।'
                                    </p>
                                    <p>
                                        আমি আসিয়া মিনিকে তাহার আসন্ন বিপদ হইতে উদ্ধার করিয়া বাহিরে লইয়া গেলাম।
                                    </p>
                                    <p>
                                        সংবাদ পাইলাম, কাবুলিওয়ালার সহিত মিনির এই যে দ্বিতীয় সাক্ষাৎ তাহা নহে, ইতিমধ্যে সে প্রায় প্রত্যহ আসিয়া পেস্তাবাদাম ঘুষ দিয়া মিনির ক্ষুদ্র লুব্ধ হৃদয়টুকু অনেকটা অধিকার করিয়া লইয়াছে।
                                    </p>
                                    <p>
                                        দেখিলাম, এই দুটি বন্ধুর মধ্যে গুটিকতক বাঁধা কথা এবং ঠাট্টা প্রচলিত আছে-- যথা, রহমতকে দেখিবামাত্র আমার কন্যা হাসিতে হাসিতে জিজ্ঞাসা করিত, 'কাবুলিওয়ালা, ও কাবুলিওয়ালা, তোমার ও ঝুলির ভিতর কী।'
                                    </p>
                                    <p>
                                        রহমত একটা অনাবশ্যক চন্দ্রবিন্দু যোগ করিয়া হাসিতে হাসিতে উত্তর করিত, 'হাঁতি।'
                                    </p>
                                    <p>
                                        অর্থাৎ তাহার ঝুলির ভিতরে যে একটা হস্তী আছে, এইটেই তাহার পরিহাসের সূক্ষ্ণ মর্ম। খুব যে বেশি সূক্ষ্ণ তাহা বলা যায় না, তথাপি এই পরিহাসে উভয়েই বেশ-একটু কৌতুক অনুভব করিত-- এবং শরৎকালের প্রভাতে একটি বয়স্ক এবং একটি অপ্রাপ্তবয়স্ক শিশুর সরল হাস্য দেখিয়া আমারও বেশ লাগিত।
                                    </p>
                                    <p>
                                        উহাদের মধ্যে আরো-একটা কথা প্রচলিত ছিল। রহমত মিনিকে বলিত, 'খোঁখী, তোমি সসুরবাড়ি কখুনু যাবে না!'
                                    </p>
                                    <p>
                                        বাঙালির ঘরের মেয়ে আজন্মকাল 'শ্বশুরবাড়ি' শব্দটার সহিত পরিচিত, কিন্তু আমরা কিছু একেলে ধরনের লোক হওয়াতে, শিশু মেয়েকে শ্বশুরবাড়ি সম্বন্ধে সজ্ঞান করিয়া তোলা হয় নাই। এইজন্য রহমতের অনুরোধটা সে পরিষ্কার বুঝিতে পারিত না, অথচ কথাটার একটা-কোনো জবাব না দিয়া চুপ করিয়া থাকা নিতান্ত তাহার স্বভাববিরুদ্ধ, সে উলটিয়া জিজ্ঞাসা করিত, 'তুমি শ্বশুরবাড়ি যাবে?'
                                    </p>
                                    <p>
                                        রহমত কাল্পনিক শ্বশুরের প্রতি প্রকাণ্ড মোটা মুষ্টি আস্ফালন করিয়া বলিত, 'হামি সসুরকে মারবে।'
                                    </p>
                                    <p>
                                        শুনিয়া মিনি শ্বশুর নামক কোনো-এক অপরিচিত জীবের দুরবস্থা কল্পনা করিয়া অত্যন্ত হাসিত।
                                    </p>
                                    <p>
                                        এখন শুভ্র শরৎকাল। প্রাচীনকালে এই সময়েই রাজারা দিগ্‌বিজয়ে বাহির হইতেন। আমি কলিকাতা ছাড়িয়া কখনো কোথাও যাই নাই, কিন্তু সেইজন্যই আমার মনটা পৃথিবীময় ঘুরিয়া বেড়ায়। আমি যেন আমার ঘরের কোণে চিরপ্রবাসী, বাহিরের পৃথিবীর জন্য আমার সর্বদা মন কেমন করে। একটা বিদেশের নাম শুনিলেই অমনি আমার চিত্ত ছুটিয়া যায়, তেমনি বিদেশী লোক দেখিলেই অমনি নদী পর্বত অরণ্যের মধ্যে একটা কুটিরের দৃশ্য মনে উদয় হয়, এবং একটা উল্লাসপূর্ণ স্বাধীন জীবনযাত্রার কথা কল্পনায় জাগিয়া উঠে।
                                    </p>
                                    <p>
                                        এদিকে আবার আমি এমনি উদ্ভিজ্জপ্রকৃতি যে, আমার কোণটুকু ছাড়িয়া একবার বাহির হইতে গেলে মাথায় বজ্রাঘাত হয়। এইজন্য সকালবেলায় আমার ছোটো ঘরে টেবিলের সামনে বসিয়া এই কাবুলির সঙ্গে গল্প করিয়া আমার অনেকটা ভ্রমণের কাজ হইত। দুইধারে বন্ধুর দুর্গম দগ্ধ রক্তবর্ণ উচ্চ গিরিশ্রেণী, মধ্যে সংকীর্ণ মরুপথ, বোঝাইকরা উষ্ট্রের শ্রেণী চলিয়াছে; পাগড়িপরা বণিক ও পথিকেরা কেহ বা উটের 'পরে, কেহ বা পদব্রজে, কাহারো হাতে বর্শা, কাহারো হাতে সেকেলে চকমকি-ঠোকা বন্দুক-- কাবুলি মেঘমন্দ্রস্বরে ভাঙা বাংলায় স্বদেশের গল্প করিত, আর এই ছবি আমার চোখের সম্মুখ দিয়া চলিয়া যাইত।
                                    </p>
                                    <p>
                                        মিনির মা অত্যন্ত শঙ্কিত স্বভাবের লোক। রাস্তায় একটা শব্দ শুনিলেই তাঁহার মনে হয় পৃথিবীর সমস্ত মাতাল আমাদের বাড়িটাই বিশেষ লক্ষ্য করিয়া ছুটিয়া আসিতেছে। এই পৃথিবীটা যে সর্বত্রই চোর ডাকাত মাতাল সাপ বাঘ ম্যালেরিয়া শুঁয়াপোকা আরসোলা এবং গোরার দ্বারা পরিপূর্ণ, এতদিন (খুব বেশি দিন নহে) পৃথিবীতে বাস করিয়াও সে বিভীষিকা তাঁহার মন হইতে দূর হইয়া যায় নাই।
                                    </p>
                                    <p>
                                        রহমত কাবুলিওয়ালা সম্বন্ধে তিনি সম্পূর্ণ নিঃসংশয় ছিলেন না। তাহার প্রতি বিশেষ দৃষ্টি রাখিবার জন্য তিনি আমাকে বারবার অনুরোধ করিয়াছিলেন। আমি তাঁহার সন্দেহ হাসিয়া উড়াইয়া দিবার চেষ্টা করিলে তিনি পর্যায়ক্রমে আমাকে গুটিকতক প্রশ্ন করিলেন, 'কখনো কি কাহারো ছেলে চুরি যায় না। কাবুলদেশে কি দাসব্যবসা প্রচলিত নাই। একজন প্রকাণ্ড কাবুলির পক্ষে একটি ছোটো ছেলে চুরি করিয়া লইয়া যাওয়া একেবারেই কি অসম্ভব।'
                                    </p>
                                    <p>
                                        আমাকে মানিতে হইল, ব্যাপারটা যে অসম্ভব তাহা নহে কিন্তু অবিশ্বাস্য। বিশ্বাস করিবার শক্তি সকলের সমান নহে, এইজন্য আমার স্ত্রীর মনে ভয় রহিয়া গেল। কিন্তু তাই বলিয়া বিনা দোষে রহমতকে আমাদের বাড়িতে আসিতে নিষেধ করিতে পারিলাম না।
                                    </p>
                                    <p>
                                        প্রতি বৎসর মাঘ মাসের মাঝামাঝি রহমত দেশে চলিয়া যায়। এই সময়টা সমস্ত পাওনার টাকা আদায় করিবার জন্য সে বড়ো ব্যস্ত থাকে। বাড়ি বাড়ি ফিরিতে হয় কিন্তু তবু একবার মিনিকে দর্শন দিয়া যায়। দেখিলে বাস্তবিক মনে হয়, উভয়ের মধ্যে যেন একটা ষড়যন্ত্র চলিতেছে। সকালে যেদিন আসিতে পারে না, সেদিন দেখি সন্ধ্যার সময় আসিয়াছে; অন্ধকারে ঘরের কোণে সেই ঢিলেঢালা-জামা-পায়জামা-পরা, সেই ঝোলাঝুলিওয়ালা লম্বা লোকটাকে দেখিলে বাস্তবিক হঠাৎ মনের ভিতরে একটা আশঙ্কা উপস্থিত হয়। কিন্তু যখন দেখি, মিনি 'কাবুলিওয়ালা, ও কাবুলিওয়ালা' করিয়া হাসিতে হাসিতে ছুটিয়া আসে এবং দুই অসমবয়সী বন্ধুর মধ্যে পুরাতন সরল পরিহাস চলিতে থাকে, তখন সমস্ত হৃদয় প্রসন্ন হইয়া উঠে।
                                    </p>
                                    <p>
                                        একদিন সকালে আমার ছোটো ঘরে বসিয়া প্রুফশীট সংশোধন করিতেছি। বিদায় লইবার পূর্বে আজ দিন-দুইতিন হইতে শীতটা খুব কন্‌কনে‌ হইয়া উঠিয়াছে, চারি দিকে একেবারে হীহীকার পড়িয়া গেছে। জানালা ভেদ করিয়া সকালের রৌদ্রটি টেবিলের নীচে আমার পায়ের উপর আসিয়া পড়িয়াছে, সেই উত্তাপটুকু বেশ মধুর বোধ হইতেছে। বেলা বোধ করি আটটা হইবে-- মাথায়-গলবন্ধ-জড়ানো উষাচরগণ প্রাতর্ভ্রমণ সমাধা করিয়া প্রায় সকলে ঘরে ফিরিয়া আসিয়াছে। এমন সময় রাস্তায় ভারি একটা গোল শুনা গেল।
                                    </p>
                                    <p>
                                        চাহিয়া দেখি, আমাদের রহমতকে দুইপাহারাওয়ালা বাঁধিয়া লইয়া আসিতেছে-- তাহার পশ্চাতে কৌতূহলী ছেলের দল চলিয়াছে। রহমতের গাত্রবস্ত্রে রক্তচিহ্ন এবং একজন পাহারাওয়ালার হাতে রক্তাক্ত ছোরা। আমি দ্বারের বাহিরে গিয়া পাহারাওয়ালাকে দাঁড় করাইলাম, জিজ্ঞাসা করিলাম, ব্যাপারটা কী।
                                    </p>
                                    <p>
                                        কিয়দংশ তাহার কাছে কিয়দংশ রহমতের কাছে শুনিয়া জানিলাম যে, আমাদের প্রতিবেশী একজন লোক রামপুরী চাদরের জন্য রহমতের কাছে কিঞ্চিৎ ধারিত-- মিথ্যাপূর্বক সেই দেনা সে অস্বীকার করে এবং তাহাই লইয়া বচসা করিতে করিতে রহমত তাহাকে এক ছুরি বসাইয়া দিয়াছে।
                                    </p>
                                    <p>
                                        রহমত সেই মিথ্যাবাদীর উদ্দেশে নানারূপ অশ্রাব্য গালি দিতেছে, এমন সময় 'কাবুলিওয়ালা, ও কাবুলিওয়ালা' করিয়া ডাকিতে ডাকিতে মিনি ঘর হইতে বাহির হইয়া আসিল।
                                    </p>
                                    <p>
                                        রহমতের মুখ মুহূর্তের মধ্যে কৌতুকহাস্যে প্রফুল্ল হইয়া উঠিল। তাহার স্কন্ধে আজ ঝুলি ছিল না, সুতরাং ঝুলি সম্বন্ধে তাহাদের অভ্যস্ত আলোচনা হইতে পারিল না। মিনি একেবারেই তাহাকে জিজ্ঞাসা করিল, 'তুমি শ্বশুরবাড়ি যাবে?'
                                    </p>
                                    <p>
                                        রহমত হাসিয়া কহিল, 'সিখানেই যাচ্ছে।'
                                    </p>
                                    <p>
                                        দেখিল উত্তরটা মিনির হাস্যজনক হইল না, তখন হাত দেখাইয়া বলিল, 'সসুরাকে মারিতাম কিন্তু, কী করিব, হাত বাঁধা।'
                                    </p>
                                    <p>
                                        সাংঘাতিক আঘাত করা অপরাধে কয়েক বৎসর রহমতের কারাদণ্ড হইল।
                                    </p>
                                    <p>
                                        তাহার কথা একপ্রকার ভুলিয়া গেলাম। আমরা যখন ঘরে বসিয়া চিরাভ্যস্তমত নিত্য কাজের মধ্যে দিনের পর দিন কাটাইতাম তখন একজন স্বাধীন পর্বতচারী পুরুষ কারাপ্রাচীরের মধ্যে যে কেমন করিয়া বর্ষযাপন করিতেছে, তাহা আমাদের মনেও উদয় হইত না।
                                    </p>
                                    <p>
                                        আর, চঞ্চলহৃদয়া মিনির আচরণ যে অত্যন্ত লজ্জাজনক, তাহা তাহার বাপকেও স্বীকার করিতে হয়। সে স্বচ্ছন্দে তাহার পুরাতন বন্ধুকে বিস্মৃত হইয়া প্রথমে নবী সহিসের সহিত সখ্য স্থাপন করিল। পরে ক্রমে যত তাহার বয়স বাড়িয়া উঠিতে লাগিল, ততই সখার পরিবর্তে একটি একটি করিয়া সখী জুটিতে লাগিত। এমন-কি, এখন তাহার বাবার লিখিবার ঘরেও তাহাকে আর দেখিতে পাওয়া যায় না। আমি তো তাহার সহিত একপ্রকার আড়ি করিয়াছি।
                                    </p>
                                    <p>
                                        কত বৎসর কাটিয়া গেল। আর-একটি শরৎকাল আসিয়াছে। আমার মিনির বিবাহের সম্বন্ধ স্থির হইয়াছে। পূজার ছুটির মধ্যেই তাহার বিবাহ হইবে। কৈলাসবাসিনীর সঙ্গে সঙ্গে আমার ঘরের আনন্দময়ী পিতৃভবন অন্ধকার করিয়া পতিগৃহে যাত্রা করিবে।
                                    </p>
                                    <p>
                                        প্রভাতটি অতি সুন্দর হইয়া উদয় হইয়াছে। বর্ষার পরে এই শরতের নূতনধৌত রৌদ্র যেন সেহাগায়-গলানো নির্মল সোনার মতো রঙ ধরিয়াছে। কলিকাতার গলির ভিতরকার ইষ্টকজর্জর অপরিচ্ছন্ন ঘেঁষাঘেঁষি বাড়িগুলির উপরেও এই রৌদ্রের আভা একটি অপরূপ লাবণ্য বিস্তার করিয়াছে।
                                    </p>
                                    <p>
                                        আমার ঘরে আজ রাত্রি শেষ হইতে না হইতে সানাই বাজিতেছে। সে বাঁশি যেন আমার বুকের পঞ্জরের হাড়ের মধ্য হইতে কাঁদিয়া কাঁদিয়া বাজিয়া উঠিতেছে। করুণ ভৈরবী রাগিণীতে আমার আসন্ন বিচ্ছেদব্যথাকে শরতের রৌদ্রের সহিত সমস্ত বিশ্বজগৎময় ব্যাপ্ত করিয়া দিতেছে। আজ আমার মিনির বিবাহ।
                                    </p>
                                    <p>
                                        সকাল হইতে ভারি গোলমাল, লোকজনের আনাগোনা। উঠানে বাঁশ বাঁধিয়া পাল খাটানো হইতেছে; বাড়ির ঘরে ঘরে এবং বারান্দায় ঝাড় টাঙাইবার ঠুংঠাং শব্দ উঠিতেছে; হাঁকডাকের সীমা নাই।
                                    </p>
                                    <p>
                                        আমি আমার লিখিবার ঘরে বসিয়া হিসাব দেখিতেছি, এমন সময় রহমত আসিয়া সেলাম করিয়া দাঁড়াইল।
                                    </p>
                                    <p>
                                        আমি প্রথমে তাহাকে চিনিতে পারিলাম না। তাহার সে ঝুলি নাই। তাহার সে লম্বা চুল নাই, তাহার শরীরে পূর্বের মতো সে তেজ নাই। অবশেষে তাহার হাসি দেখিয়া তাহাকে চিনিলাম।
                                    </p>
                                    <p>
                                        কহিলাম, 'কী রে রহমত, কবে আসিলি।'
                                    </p>
                                    <p>
                                        সে কহিল, 'কাল সন্ধ্যাবেলা জেল হইতে খালাস পাইয়াছি।'
                                    </p>
                                    <p>
                                        কথাটা শুনিয়া কেমন কানে খট করিয়া উঠিল। কোনো খুনীকে কখনো প্রত্যক্ষ দেখি নাই, ইহাকে দেখিয়া সমস্ত অন্তঃকরণ যেন সংকুচিত হইয়া গেল। আমার ইচ্ছা করিতে লাগিল, আজিকার এই শুভদিনে এ লোকটা এখান হইতে গেলেই ভালো হয়।
                                    </p>
                                    <p>
                                        আমি তাহাকে কহিলাম, 'আজ আমাদের বাড়িতে একটা কাজ আছে, আমি কিছু ব্যস্ত আছি, তুমি আজ যাও।'
                                    </p>
                                    <p>
                                        কথাটা শুনিয়াই সে তৎক্ষণাৎ চলিয়া যাইতে উদ্যত হইল, অবশেষে দরজার কাছে গিয়া একটু ইতস্তত করিয়া কহিল, 'খোঁখীকে একবার দেখিতে পাইব না?'
                                    </p>
                                    <p>
                                        তাহার মনে বুঝি বিশ্বাস ছিল, মিনি সেই ভাবেই আছে। সে যেন মনে করিয়াছিল, মিনি আবার সেই পূর্বের মতো 'কাবুলিওয়ালা, ও কাবুলিওয়ালা' করিয়া ছুটিয়া আসিবে, তাহাদের সেই অত্যন্ত কৌতুকাবহ পুরাতন হাস্যালাপের কোনোরূপ ব্যত্যয় হইবে না। এমন-কি, পূর্ববন্ধুত্ব স্মরণ করিয়া সে একবাক্স আঙুর এবং কাগজের মোড়কে কিঞ্চিৎ কিস্‌মিস বাদাম বোধ করি কোনো স্বদেশীয় বন্ধুর নিকট হইতে চাহিয়া-চিন্তিয়া সংগ্রহ করিয়া আনিয়াছিল-- তাহার সে নিজের ঝুলিটি আর ছিল না।
                                    </p>
                                    <p>
                                        আমি কহিলাম, 'আজ বাড়িতে কাজ আছে, আজ আর কাহারো সহিত দেখা হইতে পারিবে না।'
                                    </p>
                                    <p>
                                        সে যেন কিছু ক্ষুণ্ন হইল। স্তব্ধভাবে দাঁড়াইয়া একবার স্থির দৃষ্টিতে আমার মুখের দিকে চাহিল, তার পরে 'বাবু সেলাম' বলিয়া দ্বারের বাহির হইয়া গেল।
                                    </p>
                                    <p>
                                        আমার মনে কেমন একটু ব্যথা বোধ হইল। মনে করিতেছি তাহাকে ফিরিয়া ডাকিব, এমন সময়ে দেখি সে আপনি ফিরিয়া আসিতেছে।
                                    </p>
                                    <p>
                                        কাছে আসিয়া কহিল, 'এই আঙুর এবং কিঞ্চিৎ কিস্‌মিস বাদাম খোঁখীর জন্য আনিয়াছিলাম, তাহাকে দিবেন।'
                                    </p>
                                    <p>
                                        আমি সেগুলি লইয়া দাম দিতে উদ্যত হইলে সে হঠাৎ আমার হাত চাপিয়া ধরিল, কহিল, 'আপনার বহুৎ দয়া, আমার চিরকাল স্মরণ থাকিবে-- আমাকে পয়সা দিবেন না।--
                                    </p>
                                    <p>
                                        'বাবু, তোমার যেমন একটি লড়কী আছে, তেমনি দেশে আমারও একটি লড়কী আছে। আমি তাহারই মুখখানি স্মরণ করিয়া তোমার খোঁখীর জন্য কিছু কিছু মেওয়া হাতে লইয়া আসি, আমি তো সওদা করিতে আসি না।'
                                    </p>
                                    <p>
                                        এই বলিয়া সে আপনার মস্ত ঢিলা জামাটার ভিতর হাত চালাইয়া দিয়া বুকের কাছে কোথা হইতে একটুকরা ময়লা কাগজ বাহির করিল। বহু সযত্নে ভাঁজ খুলিয়া দুই হস্তে আমার টেবিলের উপর মেলিয়া ধরিল।
                                    </p>
                                    <p>
                                        দেখিলাম, কাগজের উপর একটি ছোটো হাতের ছাপ। ফোটোগ্রাফ নহে, তেলের ছবি নহে, হাতে খানিকটা ভুসা মাখাইয়া কাগজের উপরে তাহার চিহ্ন ধরিয়া লইয়াছে। কন্যার এই স্মরণচিহ্নটুকু বুকের কাছে লইয়া রহমত প্রতিবৎসর কলিকাতার রাস্তায় মেওয়া বেচিতে আসে-- যেন সেই সুকোমল ক্ষুদ্র শিশুহস্তটুকুর স্পর্শখানি তাহার বিরাট বিরহী বক্ষের মধ্যে সুধাসঞ্চয় করিয়া রাখে।
                                    </p>
                                    <p>
                                        দেখিয়া আমার চোখ ছল্‌ছল্‌ করিয়া আসিল। তখন, সে যে একজন কাবুলি মেওয়াওয়ালা আর আমি যে একজন বাঙালি সম্ভ্রান্তবংশীয়, তাহা ভুলিয়া গেলাম -- তখন বুঝিতে পারিলাম, সেও যে আমিও সে, সেও পিতা আমিও পিতা। তাহার পর্বতগৃহবাসিনী ক্ষুদ্র পার্বতীর সেই হস্তচিহ্ন আমারই মিনিকে স্মরণ করাইয়া দিল। আমি তৎক্ষণাৎ তাহাকে অন্তঃপুর হইতে ডাকাইয়া পাঠাইলাম। অন্তঃপুরে ইহাতে অনেক আপত্তি উঠিয়াছিল। কিন্তু আমি কিছুতে কর্ণপাত করিলাম না। রাঙাচেলি-পরা কপালে-চন্দন-আঁকা বধূবেশিনী মিনি সলজ্জ ভাবে আমার কাছে আসিয়া দাঁড়াইল।
                                    </p>
                                    <p>
                                        তাহাকে দেখিয়া কাবুলিওয়ালা প্রথমটা থতমত খাইয়া গেল, তাহাদের পুরাতন আলাপ জমাইতে পারিল না। অবশেষে হাসিয়া কহিল, 'খোঁখী, তোমি সসুরবাড়ি যাবিস?'
                                    </p>
                                    <p>
                                        মিনি এখন শ্বশুরবাড়ির অর্থ বোঝে, এখন আর সে পূর্বের মতো উত্তর দিতে পারিল না-- রহমতের প্রশ্ন শুনিয়া লজ্জায় আরক্ত হইয়া মুখ ফিরাইয়া দাঁড়াইল। কাবুলিওয়ালার সহিত মিনির যেদিন প্রথম সাক্ষাৎ হইয়াছিল, আমার সেই দিনের কথা মনে পড়িল। মনটা কেমন ব্যথিত হইয়া উঠিল।
                                    </p>
                                    <p>
                                        মিনি চলিয়া গেলে একটা গভীর দীর্ঘনিশ্বাস ফেলিয়া রহমত মাটিতে বসিয়া পড়িল। সে হঠাৎ স্পষ্ট বুঝিতে পারিল, তাহার মেয়েটিও ইতিমধ্যে এইরূপ বড়ো হইয়াছে, তাহার সঙ্গেও আবার নূতন আলাপ করিতে হইবে-- তাহাকে ঠিক পূর্বের মতো তেমনটি আর পাইবে না। এ আট বৎসরে তাহার কী হইয়াছে তাই বা কে জানে। সকালবেলায় শরতের স্নিগ্ধ রৌদ্রকিরণের মধ্যে সানাই বাজিতে লাগিল, রহমত কলিকাতার এক গলির ভিতরে বসিয়া আফগানিস্থানের এক মরু-পর্বতের দৃশ্য দেখিতে লাগিল।
                                    </p>
                                    <p>
                                        আমি একখানি নোট লইয়া তাহাকে দিলাম। বলিলাম, 'রহমত, তুমি দেশে তোমার মেয়ের কাছে ফিরিয়া যাও; তোমাদের মিলনসুখে আমার মিনির কল্যাণ হউক।'
                                    </p>
                                    <p>
                                        এই টাকাটা দান করিয়া হিসাব হইতে উৎসব-সমারোহের দুটো-একটা অঙ্গ ছাঁটিয়া দিতে হইল। যেমন মনে করিয়াছিলাম তেমন করিয়া ইলেকট্রিক আলো জ্বালাইতে পারিলাম না, গড়ের বাদ্যও আসিল না, অন্তঃপুরে মেয়েরা অত্যন্ত অসন্তোষ প্রকাশ করিতে লাগিলেন, কিন্তু মঙ্গল-আলোকে আমার শুভ উৎসব উজ্জ্বল হইয়া উঠিল।
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="small-screen-center post-extras">
                                            <div class="post-tags"> <a href="#" rel="tag">election</a> <a href="#" rel="tag">রাজনীতি</a> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-right small-screen-center post-share">
                                            <div class="element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                                <ul class="social-icons text-normal social-sm social-simple social-circle">
                                                    <li>
                                                        <a href="#" target="_blank" data-iconcolor="#00acee"> <i class="fa fa-twitter"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-iconcolor="#dd1812"> <i class="fa fa-google-plus"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-iconcolor="#3b5998"> <i class="fa fa-facebook"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-iconcolor="#C92228"> <i class="fa fa-pinterest"></i> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <nav class="post-navigation" id="nav-below">
                                <ul class="pager">
                                    <li class="previous">
                                        <a class="btn btn-primary btn-icon btn-icon-left" href="#" rel="prev"> <i class="fa fa-angle-left"></i> Previous </a>
                                    </li>
                                </ul>
                            </nav>
                            <section class="post-related text-left">
                                <header class="post-related-head">
                                    <h3 class="post-related-title">Related Posts</h3> </header>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/magazine/blog-04.jpg)">
                                            <a href="magazine-post.html">
                                                <div class="post-grid-content">
                                                    <h3 class="post-grid-content-title">Feed Your Skin</h3>
                                                    <div class="post-grid-content-footer"> langan , December 9, 2014 </div>
                                                </div>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/magazine/blog-20.jpg)">
                                            <a href="magazine-post.html">
                                                <div class="post-grid-content">
                                                    <h3 class="post-grid-content-title">It’s Not Wine, It’s Not Beer, It&#8217;s Lambda</h3>
                                                    <div class="post-grid-content-footer"> Christos , October 29, 2014 </div>
                                                </div>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                            </section>
                            <div class="comment-respond">
                                <h3 class="comment-reply-title">Leave a Reply <small>
                            <a href="#"  style="display:none;">Cancel reply</a></small>
                        </h3>
                                <form action="#" method="post" name="commentform">
                                    <p> <span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span> </p>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label for="author">Your name *</label>
                                            <input class="input-block-level form-control" name="author" type="text"> </div>
                                        <div class="form-group col-md-4">
                                            <label for="email">Your email *</label>
                                            <input class="input-block-level form-control" name="email" type="text"> </div>
                                        <div class="form-group col-md-4">
                                            <label for="url">Website</label>
                                            <input class="input-block-level form-control" name="url" type="text"> </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label for="comment">Your message</label>
                                            <textarea class="input-block-level form-control" name="comment" rows="5"> </textarea>
                                        </div>
                                    </div>
                                    <p class="form-submit">
                                        <input class="btn btn-primary" name="submit" type="submit" value="Post Comment">
                                        <input name='comment_post_ID' type='hidden' value='38'>
                                        <input name='comment_parent' type='hidden' value='0'> </p>
                                </form>
                            </div>
                            <!-- #respond -->
                        </div>
                        <div class="col-md-3 sidebar">
                            <div class="sidebar-widget widget_recent_entries" id="recent-posts-4">
                                <h3 class="sidebar-header">Recent posts</h3>
                                <ul>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post.html" title="দ্রোন ব্যবহার করেছেন পশ্চিম বঙ্গ রাজ্য নির্বাচন কমিশন"> <img alt="drone" height="150" src="assets/images/magazine/drone.jpg" width="150"> </a>
                                        </div> <a href="magazine-post-drone-nirbaachon.html" title="দ্রোন ব্যবহার করেছেন পশ্চিম বঙ্গ রাজ্য নির্বাচন কমিশন" class="bengali-text bengali-sidebar">দ্রোন ব্যবহার করেছেন পশ্চিম বঙ্গ রাজ্য নির্বাচন কমিশন</a> <small class="post-date">April 24,
                                2015</small> </li>
                                </ul>
                            </div>
                            <!--
<div class="sidebar-widget widget_text">
    <div class="textwidget">
        <a href="#"> <img alt="add" src="assets/images/magazine/add-03.png"> </a>
    </div>
</div>
<div class="sidebar-widget widget_categories">
    <h3 class="sidebar-header">Categories</h3>
    <ul>
        <li> <a href="magazine-blog.html">Business</a> </li>
        <li> <a href="magazine-blog.html">Creative</a> </li>
        <li> <a href="magazine-blog.html">Fashion</a> </li>
        <li> <a href="magazine-blog.html">Journal</a> </li>
        <li> <a href="magazine-post.html">Journalism</a> </li>
        <li> <a href="magazine-blog.html">Shopping</a> </li>
        <li> <a href="magazine-blog.html">Social Media</a> </li>
    </ul>
</div>
<div class="sidebar-widget widget_tag_cloud">
    <h3 class="sidebar-header">
                            Popular Tags
                        </h3>
    <div class="tagcloud">
        <ul>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>addiction</a> </li>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>animal</a> </li>
            <li> <a href='#' style='font-size: 16.75pt;' title='3 topics'>art</a> </li>
            <li> <a href='#' style='font-size: 13.25pt;' title='2 topics'>artworld</a> </li>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>beans</a> </li>
            <li> <a href='#' style='font-size: 22pt;' title='5 topics'>beauty trends</a> </li>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>book</a> </li>
            <li> <a href='#' style='font-size: 13.25pt;' title='2 topics'>brew</a> </li>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>chocolate</a> </li>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>coffee</a> </li>
            <li> <a href='#' style='font-size: 13.25pt;' title='2 topics'>cute</a> </li>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>facebook</a> </li>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>fruits</a> </li>
            <li> <a href='#' style='font-size: 13.25pt;' title='2 topics'>health</a> </li>
            <li> <a href='#' style='font-size: 13.25pt;' title='2 topics'>metallic surface</a> </li>
            <li> <a href='#' style='font-size: 16.75pt;' title='3 topics'>nutrition</a> </li>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>phone</a> </li>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>review</a> </li>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>shopping</a> </li>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>social media</a> </li>
            <li> <a href='#' style='font-size: 8pt;' title='1 topic'>sweet</a> </li>
            <li> <a href='#' style='font-size: 13.25pt;' title='2 topics'>twitter</a> </li>
        </ul>
    </div>
</div>
<div class="sidebar-widget widget_archive" id="archives-4">
    <h3 class="sidebar-header">Archive</h3>
    <ul>
        <li> <a href='magazine-blog.html'>January 2015</a> </li>
        <li> <a href='magazine-blog.html'>December 2014</a> </li>
        <li> <a href='magazine-blog.html'>November 2014</a> </li>
        <li> <a href='magazine-blog.html'>October 2014</a> </li>
        <li> <a href='magazine-blog.html'>August 2014</a> </li>
    </ul>
</div>
-->
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <footer id="footer">
            <section class="section">
                <div class="container">
                    <div class="row element-top-40 element-bottom-40 footer-columns-3">
                        <div class="col-sm-4">
                            <div class="sidebar-widget widget_text">
                                <h3 class="sidebar-header">The Magazine</h3>
                                <div class="textwidget"> Launched in early 2015, <i>Lambda Magazine</i> probes beyond the established <strong>design</strong> disciplines to enrich and diversify current discourse. Scholarly, <strong>poetic</strong>, each issue triggers new interpretations of design’s defining role in today’s culture. </div>
                            </div>
                            <div class="sidebar-widget widget_social" id="oxywidgetsocial-1">
                                <ul class="unstyled inline social-icons social-simple social-normal">
                                    <li>
                                        <a data-iconcolor="#00acee" href="#"> <i class="fa fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#3b5998" href="#"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#E45135" href="#"> <i class="fa fa-google-plus"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#5FB0D5" href="#"> <i class="fa fa-linkedin"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#910101" href="#"> <i class="fa fa-pinterest"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#634d40" href="#"> <i class="fa fa-instagram"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#3b9999" href="#"> <i class="fa fa-behance"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#3b9999" href="#"> <i class="fa fa-soundcloud"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="sidebar-widget widget_archive" id="archives-3">
                                <h3 class="sidebar-header">Archives</h3>
                                <ul>
                                    <li> <a href='magazine-blog.html'>January 2015</a> </li>
                                    <li> <a href='magazine-blog.html'>December 2014</a> </li>
                                    <li> <a href='magazine-blog.html'>November 2014</a> </li>
                                    <li> <a href='magazine-blog.html'>October 2014</a> </li>
                                    <li> <a href='magazine-blog.html'>August 2014</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="sidebar-widget widget_recent_entries" id="recent-posts-3">
                                <h3 class="sidebar-header">Recent Posts</h3>
                                <ul>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post.html" title="Feel-Good Food"><img alt="blog-09" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/magazine/blog-09-150x150.jpg" width="150">
                                            </a>
                                        </div><a href="magazine-post.html" title="Feel-Good Food">Feel-Good Food</a> <small class="post-date">January 22,
                                2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post.html" title="What To Do For Your Cat"><img alt="blog-15" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/magazine/blog-15-150x150.jpg" width="150">
                                            </a>
                                        </div><a href="magazine-post.html" title="What To Do For Your Cat">What To Do For Your Cat</a> <small class="post-date">December 20, 2014</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post.html" title="The Sweet Lure Of Chocolate"><img alt="blog-11" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/magazine/blog-11-150x150.jpg" width="150">
                                            </a>
                                        </div><a href="magazine-post.html" title="The Sweet Lure Of Chocolate">The Sweet Lure Of Chocolate</a> <small class="post-date">December 15, 2014</small> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    <a class="go-top go-top-square" href="javascript:void(0)"> <i class="fa fa-angle-up"></i> </a>
    <script type="text/javascript">
        var oxyThemeData = {
            navbarHeight: 120,
            navbarScrolled: 120,
            navbarScrolledPoint: 62,
            menuClose: 'off',
            scrollFinishedMessage: 'No more items to load.',
            hoverMenu: {
                hoverActive: false,
                hoverDelay: 200,
                hoverFadeDelay: 200
            },
            siteLoader: 'on'
        };
    </script>
    <script src="assets/js/theme.min.js"></script>
    <!-- load contact form js -->
    <script src="assets/js/contact.min.js"></script>
</body>

</html>