<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title> Town Crier বাংলা </title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,400,400italic,700,900%7COswald:300,400,700%7CGentium+Basic:400,400italic&amp;subset=latin,latin,latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/extras.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/theme.min.css">
    <link rel="stylesheet" href="assets/css/magazine.min.css">
    <link rel="stylesheet" href="assets/css/towncrier.css">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="assets/images/favicons/favicon.ico"> </head>

<body class="pace-on pace-minimal">
    <div class="pace-overlay"></div>
    <div id="masthead" class="menu navbar navbar-static-top navbar-sticky oxy-mega-menu header-logo-left-menu-right" role="banner">
        <div class="container">
            <!-- setting a logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../" class="navbar-brand">
                    <img src="/assets/images/magazine/logo-inv-200px.png" alt="One of the best themes ever">
                </a>
            </div>
            <div class="nav-container">
                <!-- setting a logo end-->
                <nav class="collapse navbar-collapse logo-navbar  main-navbar navbar-left" role="navigation">
                    <div class="menu-container">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                            </li>
                            <li class=" "> <a href="/news.html">News</a> </li>
                            <li class=" "> <a href="/stories.html">Stories</a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div id="content" role="main">
        <article>
            <section class="section">
                <div class="container">
                    <div class="row element-top-50 element-bottom-50">
                        <div class="col-md-9 blog-list-layout-normal">
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle vertical-middle">
                                        <a class="figure-image magnific" href="assets/images/magazine/ewaste.gif"> <img alt="ই-বর্" src="assets/images/magazine/ewaste.gif">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
                                                    <i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h1 class="bengali-header-text bigtext black"><span>পশ্চিম বঙ্গের ই-বর্জ্য হাব তৈরী করতে জমির অভাবে বিলম্ব</span></h1>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> April 24, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">Srinath</a>
                                </span> <span class="post-category">
                                    <i class="icon-clipboard"></i> <a href="news.html" rel="tag" class="bengali-text">বাংলা</a>
                                </span> </div>
                                </header>
                                <div class="post-body bengali-text">
                                    <p>রাজ্যের বৈদ্যুতিক বর্জ্য পরিশোধন প্রকল্প আটকে রয়েছে দুই থেকে তিন একরের জমির অভাব &#2551; সেই জন্যই বর্জ্য হাব তৈরী হয়নি &#2551; এতে পশ্চিম বঙ্গের কেন্দ্রীয় বরাদ্দ অনুদানও হাতছাড়া হয়েছে &#2551; ২০০৯ সালে পশ্চিম বঙ্গের বৈদ্যুতিক বর্জ্য ২৬,০০০ ট্ন ছিল &#2551; ২০২০ সালে সেটা বেড়ে ১৫০০০০ টন হওয়ার সম্ভাবনা আছে &#2551; ই-বর্জ্য সম্বন্ধে কেন্দ্রীয় সরকারের নির্ধারিত নিয়ম মে ২০১২ থেকে লাগু হয়েছে &#2551;</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="small-screen-center post-extras">
                                            <div class="post-tags"> <a href="#" rel="tag">miscellaneous</a> <a href="#" rel="tag">e-waste</a> <a href="#" rel="tag">বিবিধ</a> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-right small-screen-center post-share">
                                            <div class="element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                                <ul class="social-icons text-normal social-sm social-simple social-circle">
                                                    <li>
                                                        <a href="http://twitter.com/share?text=Recycling%20hub%20in%20WB%20delayed%20&url=bit.ly/wb-eborjyo" target="_blank" data-iconcolor="#00acee"> <i class="fa fa-twitter"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="http://www.facebook.com/sharer.php?u=bit.ly/wb-eborjyo" target="_blank" data-iconcolor="#3b5998"> <i class="fa fa-facebook"></i> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3 sidebar">
                            <div class="sidebar-widget widget_recent_entries" id="recent-posts-4">
                                <h3 class="sidebar-header">most popular</h3>
                                <ul>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-story-kabuliwalla.html" title="রবীন্দ্রনাথ ঠাকুরের &#8217; কাবুলিওয়ালা &#8217;"> <img alt="Kabuliwalla" height="150" src="http://i.ytimg.com/vi/JUbA78hOZOE/maxresdefault.jpg" width="150"> </a>
                                        </div> <a href="magazine-story-kabuliwalla.html" title="রবীন্দ্রনাথ ঠাকুরের &#8217; কাবুলিওয়ালা &#8217;" class="bengali-text bengali-sidebar">গল্প - রবীন্দ্রনাথ ঠাকুরের কাবুলিওয়ালা</a> <small class="post-date">May 1, 2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post-wb-nirbaachon-bijoyi.html" title="পুরসভা নির্বাচনে তৃনমূল বিজয়ী"> <img alt="তৃনমূল বিজয়ী" height="150" src="http://images.indiatvnews.com/politicsnational/IndiaTve12d8e_mamata-banerjee-final.jpg" width="150"> </a>
                                        </div> <a href="magazine-post-wb-nirbaachon-bijoyi.html" title="পুরসভা নির্বাচনে তৃনমূল বিজয়ী" class="bengali-text bengali-sidebar">পুরসভা নির্বাচনে ১৪১ কেন্দ্রের মধ্যে ১১৪ কেন্দ্রে তৃনমূল বিজয়ী</a> <small class="post-date">May 1, 2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post-wb-bandh-1.html" title="বাংলা বন্ধ ৩০শে এপ্রিল"> <img alt="বাংলা বন্ধ ৩০শে এপ্রিল" height="150" src="https://gobindaroy.files.wordpress.com/2010/09/13feb-bandh-01.jpg" width="150"> </a>
                                        </div> <a href="magazine-post-wb-bandh-1.html" title="বাংলা বন্ধ ৩০শে এপ্রিল" class="bengali-text bengali-sidebar">বাংলা বন্ধ ৩০শে এপ্রিল</a> <small class="post-date">May 1, 2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post-nirbaachon-shonghorsho.html" title="আরও নির্বাচন কেন্দ্রিক সংঘর্ষ"> <img alt="সংঘর্ষ" height="150" src="assets/images/magazine/kolkatapolice.jpg" width="150"> </a>
                                        </div> <a href="magazine-post-nirbaachon-shonghorsho.html" title="আরও নির্বাচন কেন্দ্রিক সংঘর্ষ" class="bengali-text bengali-sidebar">আরও নির্বাচন কেন্দ্রিক সংঘর্ষ</a> <small class="post-date">April 24, 2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post-ankit-keshri-2.html" title="ক্রিকেটারদের জন্য বিমা পরিকল্পনা হবে, অঙ্কিত কেশরীর মৃত্যুর উদাহরণের পরযু"> <img alt="অঙ্কিত কেশরী" src="../assets/images/magazine/sourav-ankitkeshri.png" width="150"> </a>
                                        </div> <a href="magazine-post-ankit-keshri-2.html" title="ক্রিকেটারদের জন্য বিমা পরিকল্পনা হবে, অঙ্কিত কেশরীর মৃত্যুর উদাহরণের পরযু" class="bengali-text bengali-sidebar">ক্রিকেটারদের জন্য বিমা পরিকল্পনা হবে, অঙ্কিত কেশরীর মৃত্যুর উদাহরণের পর</a> <small class="post-date">May 1, 2015</small> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <footer id="footer">
            <section class="section">
                <div class="container">
                    <div class="row element-top-40 element-bottom-40 footer-columns-3">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div class="sidebar-widget widget_text">
                                <h3 class="sidebar-header text-center small-screen-center"> Town Crier বাংলা </h3>
                                <div class="textwidget text-center small-screen-center"> Launched in early 2015, <strong>Town Crier বাংলা</strong> is a forum for Bengalis to enjoy and celebrate language, literature, and culture. </div>
                            </div>
                            <div class="sidebar-widget widget_social text-center small-screen-center" id="oxywidgetsocial-1">
                                <ul class="unstyled inline social-icons social-simple social-normal">
                                    <li>
                                        <a data-iconcolor="#00acee" href="https://twitter.com/gettowncrier"> <i class="fa fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#3b5998" href="https://www.facebook.com/gettowncrier"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#634d40" href="#"> <i class="fa fa-instagram"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#3b9999" href="https://soundcloud.com/gettowncrier"> <i class="fa fa-soundcloud"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    <a class="go-top go-top-square" href="javascript:void(0)"> <i class="fa fa-angle-up"></i> </a>
    <script type="text/javascript">
        var oxyThemeData = {
            navbarHeight: 120,
            navbarScrolled: 120,
            navbarScrolledPoint: 62,
            menuClose: 'off',
            scrollFinishedMessage: 'No more items to load.',
            hoverMenu: {
                hoverActive: false,
                hoverDelay: 200,
                hoverFadeDelay: 200
            },
            siteLoader: 'on'
        };
    </script>
    <script src="assets/js/theme.min.js"></script>
    <!-- load contact form js -->
    <script src="assets/js/contact.min.js"></script>
</body>

</html>