<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title> Town Crier বাংলা </title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,400,400italic,700,900%7COswald:300,400,700%7CGentium+Basic:400,400italic&amp;subset=latin,latin,latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/extras.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/theme.min.css">
    <link rel="stylesheet" href="assets/css/magazine.min.css">
    <link rel="stylesheet" href="assets/css/towncrier.css">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="assets/images/favicons/favicon.ico"> </head>

<body class="pace-on pace-minimal">
    <div class="pace-overlay"></div>
    <div class="menu navbar navbar-static-top header-logo-center-menu-below oxy-mega-menu navbar-sticky text-caps" id="masthead">
        <div class="logo-navbar container-logo">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-target=".main-navbar" data-toggle="collapse" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="../"><img alt="Town Crier বাংলা" src="../assets/images/magazine/logo-inv-200px.png">
                    </a>
                    <div class="logo-sidebar"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="nav-container clearfix">
                <nav class="collapse navbar-collapse main-navbar">
                    <div class="menu-container">
                        <ul class="nav navbar-nav" id="menu-main">
                            <li class=" "> <a href="/news.html">News</a> </li>
                            <li class=" "> <a href="/stories.html">Stories</a> </li>
                        </ul>
                    </div>
                    <div class="menu-sidebar"></div>
                </nav>
            </div>
        </div>
    </div>
    <div id="content" role="main">
        <article>
            <section class="section">
                <div class="container">
                    <div class="row element-top-50 element-bottom-50">
                        <div class="col-md-9 blog-list-layout-left">
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle">
                                        <a class="figure-image magnific" href="http://images.indiatvnews.com/politicsnational/IndiaTve12d8e_mamata-banerjee-final.jpg"><img alt="বাংলা বন্ধ" src="http://images.indiatvnews.com/politicsnational/IndiaTve12d8e_mamata-banerjee-final.jpg" height="100px">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
						<i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h2 class="post-title">
                                <a href="magazine-post-wb-nirbaachon-bijoyi.html" rel="bookmark" title="Permalink to wb-nirbaachon-bijoyi.html" class="bengali-header-text">পুরসভা নির্বাচনে ১৪১ কেন্দ্রের মধ্যে ১১৪ কেন্দ্রে তৃনমূল বিজয়ী</a>
                            </h2>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> May 1, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">Debnath</a>
                                </span> </div>
                                </header>
                                <div class="post-body">
                                    <p class="bengali-text">মঙ্গলবার ২৮শে এপ্রিল কলকাতা ও জেলার পুরসভার নির্বাচনের ফল ঘোষণা হয়েছে &#2551; বাম ফ্রান্ট বিজয়ী হয়েছে জঙ্গিপুর, দিনহাটা, দৈহাট, শিলিগুড়ি ও তাহিরপুর জেলা কেন্দ্রে।কংগ্রেস বিজয়ী হয়েছে মুর্শিদাবাদ, কান্দি, ঝালদা, কালিয়াগঞ্জ ও ইসলামপুর জেলা কেন্দ্রে &#2551; </p>
                                </div>
                                <div class="small-screen-center post-more"> <a class="post-more-link" href="magazine-post-wb-nirbaachon-bijoyi.html">read more</a> </div>
                            </article>
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle">
                                        <a class="figure-image magnific" href="https://gobindaroy.files.wordpress.com/2010/09/13feb-bandh-01.jpg"><img alt="বাংলা বন্ধ" src="https://gobindaroy.files.wordpress.com/2010/09/13feb-bandh-01.jpg" height="100px">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
						<i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h2 class="post-title">
                                <a href="magazine-post-wb-bandh-1.html" rel="bookmark" title="Permalink to wb-bandh-1.html" class="bengali-header-text">বাংলা বন্ধ ৩০শে এপ্রিল</a>
                            </h2>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> May 1, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">Debnath</a>
                                </span> </div>
                                </header>
                                <div class="post-body">
                                    <p class="bengali-text">পুরসভার নির্বাচনের অবাধ ভোট লুঠের প্রতিবাদে, শাসক দলের বিরুদ্ধে ৩০শে এপ্রিল বাম ফ্রন্ট ও বি জ়ে পি ১২ ঘন্টার ধর্মঘটের ডাক দেন &#2551; কংগ্রেস ও ধর্মঘটের বিরোধিতা করেন নি &#2551; অথচ শাসক দল তৃনমূলের চেষ্টা ওই দিন বাংলা কে সচল রাখা &#2551; </p>
                                </div>
                                <div class="small-screen-center post-more"> <a class="post-more-link" href="magazine-post-wb-bandh-1.html">read more</a> </div>
                            </article>
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle">
                                        <a class="figure-image magnific" href="../assets/images/magazine/wb-earthquake.jpg"><img alt="দ্রোন ব্যবহার" src="../assets/images/magazine/wb-earthquake.jpg" height="100px">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
						<i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h2 class="post-title">
                                <a href="magazine-post-wb-earthquake-1.html" rel="bookmark" title="Permalink to earthquake-1.html" class="bengali-header-text">ভূমিকম্পে আক্রান্ত নেপাল ও পশ্চিম বঙ্গ</a>
                            </h2>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> May 1, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">Srinath</a>
                                </span> </div>
                                </header>
                                <div class="post-body">
                                    <p class="bengali-text">নেপালে ভূমিকম্পে প্রায় ১৫,০০০ মানুষ আক্রান্ত &#2551; ৬,০০০এর অধিক মানুষের মৃত্যু হয়েছ &#2551; গত রবিবার দুপুরে আবার কেঁপে উঠলো কলকাতা &#2551; সোমবার সন্ধ্যায় ফের ভূমিকম্পের পরে মিরিক পাহাড় ও লাগোয়া শিলিগুড়ির প্রায় সর্বত্র এলাকায় আতঙ্কের ছবি দেখা দিয়েছে &#2551; </p>
                                </div>
                                <div class="small-screen-center post-more"> <a class="post-more-link" href="magazine-story-kabuliwalla.html">read more</a> </div>
                            </article>
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle">
                                        <a class="figure-image magnific" href="http://images.indianexpress.com/2015/04/modi-ghani-759.jpg"><img alt="দ্রোন ব্যবহার" src="http://images.indianexpress.com/2015/04/modi-ghani-759.jpg">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
						<i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h2 class="post-title">
                                <a href="magazine-story-kabuliwalla.html" rel="bookmark" title="Permalink to kabuliwalla.html" class="bengali-header-text">আফগানিস্তানের রাষ্ট্রপতির রবীন্দ্রনাথের উল্লেখ</a>
                            </h2>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> May 1, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">Srinath</a>
                                </span> </div>
                                </header>
                                <div class="post-body">
                                    <p class="bengali-text">আফগানিস্তানের রাষ্ট্রপতি ভারতে এসে বলেন রবীন্দ্রনাথ ঠাকুরকে তিনি ধন্যবাদ দিতে চান কারণ তাঁর লেখা কাবুলিওয়ালা গল্পে আফঘানিস্তানের উল্লেখে তাঁর দেশ যে প্রসিদ্ধি পেয়েছে, তা টাকা দিয়ে কেনা যায়না &#2551; রবীন্দ্রনাথের গল্পে কাবুলিওয়ালা দূর দেশ আফগানিস্তান থেকে এসেছে ভারতে ব্যবসা করতে &#2551; তাঁর নিজস্ব পরিবারকে সেই দূর দেশে ছেড়ে এসেছে &#2551; </p>
                                    <p class="bengali-text">এই পরিপ্রেক্ষিতে আমরা রবীন্দ্রনাথের কাবুলিওয়ালা গল্প দিয়ে আমাদের ছোট গল্পের সংকলন শুরু করছি &#2551; </p>
                                </div>
                                <div class="small-screen-center post-more"> <a class="post-more-link" href="magazine-story-kabuliwalla.html">read more</a> </div>
                            </article>
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle">
                                        <a class="figure-image magnific" href="../assets/images/magazine/sourav-ankitkeshri.png"><img alt="দ্রোন ব্যবহার" src="../assets/images/magazine/sourav-ankitkeshri.png">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
						<i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h2 class="post-title">
                                <a href="magazine-post-ankit-keshri-2.html" rel="bookmark" title="Permalink to ankit-keshri-2.html" class="bengali-header-text">ক্রিকেটারদের জন্য বিমা পরিকল্পনা হবে, অঙ্কিত কেশরীর মৃত্যুর উদাহরণের পর</a>
                            </h2>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> May 1, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">Srinath</a>
                                </span> </div>
                                </header>
                                <div class="post-body">
                                    <p class="bengali-text">প্রয়াত ইস্ট বেঙ্গল ক্রিকেটার অঙ্কিত কেশরীর মৃত্যুর পর সি এ বি সংস্থার পক্ষ থেকে তার পরিবার কে ১০ লক্ষ্য টাকা দেওয়া হবে, বলে ঘোষণা হয়েছে &#2551; তার পরেই সি এ বির যুগ্ম সচিব শ্রী সৌরভ গাঙ্গুলী ব্যক্তিগত ভাবে বলেন, “আমি অঙ্কিতের পরিবারকে আমার এক বছরের পেনশন দিয়ে দিচ্ছি” &#2551; </p>
                                </div>
                                <div class="small-screen-center post-more"> <a class="post-more-link" href="magazine-post-ankit-keshri-2.html">read more</a> </div>
                            </article>
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle">
                                        <a class="figure-image magnific" href="../assets/images/magazine/drone.jpg"><img alt="দ্রোন ব্যবহার" src="../assets/images/magazine/drone.jpg">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
						<i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h2 class="post-title">
                                <a href="magazine-post-drone-nirbaachon.html" rel="bookmark" title="Permalink to drone-nirbaachon" class="bengali-header-text">দ্রোন ব্যবহার করেছেন পশ্চিম বঙ্গ রাজ্য নির্বাচন কমিশন</a>
                            </h2>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> April 24, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">Srinath</a>
                                </span> </div>
                                </header>
                                <div class="post-body">
                                    <p class="bengali-text">শনিবার ১৮ এপ্রিল ও ২৫ এপ্রিল পুরসভা নির্বাচনের দিন ঠিক হয়েছে পশ্চিম বঙ্গে। এই প্রথম বার ‘দ্রোন’ ব্যবহার করা হয়েছে।</p>
                                </div>
                                <div class="small-screen-center post-more"> <a class="post-more-link" href="magazine-post-drone-nirbaachon.html">read more</a> </div>
                            </article>
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle">
                                        <a class="figure-image magnific" href="../assets/images/magazine/kolkatapolice.jpg"><img alt="দ্রোন ব্যবহার" src="../assets/images/magazine/kolkatapolice.jpg">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
						<i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h2 class="post-title">
                                <a href="magazine-post-nirbaachon-shonghorsho.html" rel="bookmark" title="Permalink to nirbaachon-shonghorsho" class="bengali-header-text">আরও নির্বাচন কেন্দ্রিক সংঘর্ষ</a>
                            </h2>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> April 24, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">Srinath</a>
                                </span> </div>
                                </header>
                                <div class="post-body">
                                    <p class="bengali-text">২৫ এপ্রিলে ৯০ টা কেন্দ্রের পুরসভার নির্বাচনের দ্বীতিয় পর্ব হবে। কিন্তু সেই নিয়ে পুলিশ ও মানুষ জন সকলেই চিন্তিত। ইতিমধ্যে বিভিন্ন পার্টির সংসদদের মধ্যে নানান সংঘর্ষ চলছে।</p>
                                </div>
                                <div class="small-screen-center post-more"> <a class="post-more-link" href="magazine-post-nirbaachon-shonghorsho.html">read more</a> </div>
                            </article>
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle">
                                        <a class="figure-image magnific" href="../assets/images/magazine/ktp.png"><img alt="দ্রোন ব্যবহার" src="../assets/images/magazine/ktp.png">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
						<i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h2 class="post-title">
                                <a href="magazine-post-nirbaachon-social-media.html" rel="bookmark" title="Permalink to nirbaachon-social-media.html" class="bengali-header-text">নির্বাচনে সোশ্যাল মিডিয়া ব্যবহার</a>
                            </h2>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> April 24, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">Srinath</a>
                                </span> </div>
                                </header>
                                <div class="post-body">
                                    <p class="bengali-text">নির্বাচনের নিয়ম অনুযায়ী ভোটের দিনের চব্বিশ ঘন্টার পূর্বে পার্টিদের প্রচার বন্ধ করার কথা। কিন্তু নেতারা ভোটের এক দিন আগে ফেসবুকে ঘোষণা করেন, “এবার থেকে সব ধরণের ক্যান্সার, হার্টের সমস্যা ও রক্তের নানা সমস্যার চিকিত্সা, সরকারী হাঁসপাতালে নিখর্চায়ে করা হবে”। </p>
                                </div>
                                <div class="small-screen-center post-more"> <a class="post-more-link" href="magazine-post-nirbaachon-social-media.html">read more</a> </div>
                            </article>
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle">
                                        <a class="figure-image magnific" href="../assets/images/magazine/ankitkeshri.jpg"><img alt="দ্রোন ব্যবহার" src="../assets/images/magazine/ankitkeshri.jpg">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
						<i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h2 class="post-title">
                                <a href="magazine-post-ankit-keshri-1.html" rel="bookmark" title="Permalink to ankit-keshri-1.html" class="bengali-header-text">ইস্ট বেঙ্গলের তরুণ খেলোয়ার অঙ্কিত কেশরীর মৃত্যু</a>
                            </h2>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> April 24, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">Srinath</a>
                                </span> </div>
                                </header>
                                <div class="post-body">
                                    <p class="bengali-text">গত সোমবার সকালে ইস্ট বেঙ্গলের তরুণ ক্রিকেটার অঙ্কিত কেশরী (২১) মারা গেলেন হৃদরোগে আক্রান্ত হয়ে। গত শুক্রবার অঙ্কিত ইস্ট বেঙ্গলের হয়ে খেলছিলেন ওয়ান-ডে ম্যাচ ভবানীপুর ক্লাবের বিরুদ্ধে। </p>
                                </div>
                                <div class="small-screen-center post-more"> <a class="post-more-link" href="magazine-post-ankit-keshri-1.html">read more</a> </div>
                            </article>
                            <article class="post">
                                <div class="post-media">
                                    <div class="figure fade-in text-center figcaption-middle">
                                        <a class="figure-image magnific" href="/assets/images/magazine/ewaste.gif"><img alt="অঙ্কিত কেশরী" src="/assets/images/magazine/ewaste.gif">
                                            <div class="figure-overlay">
                                                <div class="figure-overlay-container">
                                                    <div class="figure-caption"> <span class="figure-overlay-icons">
						<i class="icon-plus"></i>
                                                </span> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <header class="post-head small-screen-center">
                                    <h2 class="post-title">
                                <a href="magazine-post-wb-eborjyo.html" rel="bookmark" title="Permalink to wb-eborjyo.html" class="bengali-header-text">পশ্চিম বঙ্গের ই-বর্জ্য হাব তৈরী করতে জমির অভাবে বিলম্ব</a>
                            </h2>
                                    <div class="post-details"> <span class="post-date">
                                    <i class="icon-clock"></i> April 24, 2015
                                </span> <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">Srinath</a>
                                </span> </div>
                                </header>
                                <div class="post-body">
                                    <p class="bengali-text">রাজ্যের বৈদ্যুতিক বর্জ্য পরিশোধন প্রকল্প আটকে রয়েছে দুই থেকে তিন একরের জমির অভাবে। সেই জন্যই বর্জ্য হাব তৈরী হয়নি।</p>
                                </div>
                                <div class="small-screen-center post-more"> <a class="post-more-link" href="magazine-post-wb-eborjyo.html">read more</a> </div>
                            </article>
                        </div>
                        <div class="col-md-3 sidebar">
                            <div class="sidebar-widget widget_recent_entries" id="recent-posts-4">
                                <h3 class="sidebar-header">most popular</h3>
                                <ul>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-story-kabuliwalla.html" title="রবীন্দ্রনাথ ঠাকুরের &#8217; কাবুলিওয়ালা &#8217;"> <img alt="Kabuliwalla" height="150" src="http://i.ytimg.com/vi/JUbA78hOZOE/maxresdefault.jpg" width="150"> </a>
                                        </div> <a href="magazine-story-kabuliwalla.html" title="রবীন্দ্রনাথ ঠাকুরের &#8217; কাবুলিওয়ালা &#8217;" class="bengali-text bengali-sidebar">গল্প - রবীন্দ্রনাথ ঠাকুরের কাবুলিওয়ালা</a> <small class="post-date">May 1, 2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post-wb-nirbaachon-bijoyi.html" title="পুরসভা নির্বাচনে তৃনমূল বিজয়ী"> <img alt="তৃনমূল বিজয়ী" height="150" src="http://images.indiatvnews.com/politicsnational/IndiaTve12d8e_mamata-banerjee-final.jpg" width="150"> </a>
                                        </div> <a href="magazine-post-wb-nirbaachon-bijoyi.html" title="পুরসভা নির্বাচনে তৃনমূল বিজয়ী" class="bengali-text bengali-sidebar">পুরসভা নির্বাচনে ১৪১ কেন্দ্রের মধ্যে ১১৪ কেন্দ্রে তৃনমূল বিজয়ী</a> <small class="post-date">May 1, 2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post-wb-bandh-1.html" title="বাংলা বন্ধ ৩০শে এপ্রিল"> <img alt="বাংলা বন্ধ ৩০শে এপ্রিল" height="150" src="https://gobindaroy.files.wordpress.com/2010/09/13feb-bandh-01.jpg" width="150"> </a>
                                        </div> <a href="magazine-post-wb-bandh-1.html" title="বাংলা বন্ধ ৩০শে এপ্রিল" class="bengali-text bengali-sidebar">বাংলা বন্ধ ৩০শে এপ্রিল</a> <small class="post-date">May 1, 2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post-nirbaachon-shonghorsho.html" title="আরও নির্বাচন কেন্দ্রিক সংঘর্ষ"> <img alt="সংঘর্ষ" height="150" src="assets/images/magazine/kolkatapolice.jpg" width="150"> </a>
                                        </div> <a href="magazine-post-nirbaachon-shonghorsho.html" title="আরও নির্বাচন কেন্দ্রিক সংঘর্ষ" class="bengali-text bengali-sidebar">আরও নির্বাচন কেন্দ্রিক সংঘর্ষ</a> <small class="post-date">April 24, 2015</small> </li>
                                    <li class="clearfix">
                                        <div class="post-icon">
                                            <a href="magazine-post-ankit-keshri-2.html" title="ক্রিকেটারদের জন্য বিমা পরিকল্পনা হবে, অঙ্কিত কেশরীর মৃত্যুর উদাহরণের পরযু"> <img alt="অঙ্কিত কেশরী" src="../assets/images/magazine/sourav-ankitkeshri.png" width="150"> </a>
                                        </div> <a href="magazine-post-ankit-keshri-2.html" title="ক্রিকেটারদের জন্য বিমা পরিকল্পনা হবে, অঙ্কিত কেশরীর মৃত্যুর উদাহরণের পরযু" class="bengali-text bengali-sidebar">ক্রিকেটারদের জন্য বিমা পরিকল্পনা হবে, অঙ্কিত কেশরীর মৃত্যুর উদাহরণের পর</a> <small class="post-date">May 1, 2015</small> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <footer id="footer">
            <section class="section">
                <div class="container">
                    <div class="row element-top-40 element-bottom-40 footer-columns-3">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div class="sidebar-widget widget_text">
                                <h3 class="sidebar-header text-center small-screen-center"> Town Crier বাংলা </h3>
                                <div class="textwidget text-center small-screen-center"> Launched in early 2015, <strong>Town Crier বাংলা</strong> is a forum for Bengalis to enjoy and celebrate language, literature, and culture. </div>
                            </div>
                            <div class="sidebar-widget widget_social text-center small-screen-center" id="oxywidgetsocial-1">
                                <ul class="unstyled inline social-icons social-simple social-normal">
                                    <li>
                                        <a data-iconcolor="#00acee" href="https://twitter.com/gettowncrier"> <i class="fa fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#3b5998" href="https://www.facebook.com/gettowncrier"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#634d40" href="#"> <i class="fa fa-instagram"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#3b9999" href="https://soundcloud.com/gettowncrier"> <i class="fa fa-soundcloud"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    <a class="go-top go-top-square" href="javascript:void(0)"> <i class="fa fa-angle-up"></i> </a>
    <script type="text/javascript">
        var oxyThemeData = {
            navbarHeight: 120,
            navbarScrolled: 120,
            navbarScrolledPoint: 62,
            menuClose: 'off',
            scrollFinishedMessage: 'No more items to load.',
            hoverMenu: {
                hoverActive: false,
                hoverDelay: 200,
                hoverFadeDelay: 200
            },
            siteLoader: 'on'
        };
    </script>
    <script src="assets/js/theme.min.js"></script>
    <!-- load contact form js -->
    <script src="assets/js/contact.min.js"></script>
</body>

</html>